<footer class="site-footer">

  <div class="wrapper">

    <ul class="contact-list">
      <li>
        <a href="mailto:{{ site.email }}">
          <i class="fas fa-at"></i>
        </a>
      </li>

      {% if site.twitter_username %}
      <li>
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      {% endif %} {% if site.github_username %}
      <li>
        <a href="https://github.com/{{ site.github_username }}">
          <i class="fab fa-github"></i>
        </a>
      </li>
      {% endif %} {% if site.soundcloud_username %}
      <li>
        <a href="https://soundcloud.com/{{ site.soundcloud_username }}">
          <i class="fab fa-soundcloud"></i>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</footer>